<footer>
  <div class="container">
    <div class="row">
      <!--TEXT WIDGET START-->
      <div class="col-md-3">
        <div class="widget widget-text">
          <h2>Contact</h2>
          <ul>
            <li><i class="fa fa-tags"></i>
              <p>Ngõ 34A - Lý Nam Đế - Hoàn Kiếm - Hà Nội</p></li>
            <li><i class="fa fa-phone"></i>
              <p>097 975 83 83</p></li>

          </ul>
        </div>
      </div>
      <!--TEXT WIDGET END-->
      <!--TWITTER WIDGET START-->
      <div class="col-md-3">
        <div class="widget widget-text">
          <h2>Map</h2>
          <div class="_5bl1 _4nq9"><a href="#" rel="dialog" ajaxify="https://fbexternal-a.akamaihd.net/map_tile.php?v=18&x=26018&y=14424&z=15&language=vi_VN&theme=undefined" role="button" class=""><div class="_a3e _5bld"><img class="_a3f img" alt="" src="https://fbexternal-a.akamaihd.net/static_map.php?v=18&amp;size=341x200&amp;zoom=15&amp;markers=21.033061989377%2C105.84450602531&amp;language=vi_VN" width="341" height="200"></div></a></div>
        </div>
      </div>
      <!--TWITTER WIDGET END-->
      <!--CATEGORY WIDGET START-->
      <div class="col-md-3">
        <div class="widget widget-categories">
          <img alt="Fb" class="left" src="http://www.iconarchive.com/download/i49146/yootheme/social-bookmark/social-facebook-box-blue.ico" style="max-width: 40px">
          <a href="https://www.facebook.com/sanniejolene/?fref=ts" target="_blank">Facebook</a>
        </div>
      </div>
      <!--CATEGORY WIDGET END-->
      <!--NEWSLETTER START-->
      <div class="col-md-3">
        <div class="widget widget-newletter">
          <p>Đăng kí để nhận thông tin từ Sannie & Jolene</p>
          <input type="text" placeholder="E-mail ID">
          <button>Register</button>
        </div>
      </div>
      <!--NEWSLETTER START END-->
    </div>
  </div>
</footer>